<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
    </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.example.jaxrs.MyApp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <display-name>SecureAirportRM</display-name>
        <web-resource-collection>
            <web-resource-name>
        SecureAirportRM
      </web-resource-name>
            <url-pattern>/resources</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>client</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>SecureServlet</display-name>
        <web-resource-collection>
            <web-resource-name>
        SecureServlet
      </web-resource-name>
            <url-pattern>/SecureServlet</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
            <role-name>client</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <role-name>client</role-name>
    </security-role>
    <security-role>
        <role-name>administrator</role-name>
    </security-role>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
